
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Login</title>
   
          <link href="~/Content/YuktiSolutions.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
</head>
    <body>
        <div class="container col-lg-6 col-md-push-3">
            <div class="col-lg-8 col-md-push-2">
                @RenderBody()
                <hr />
                <footer>
                    <p class="footer">&copy; 2020- Yukti Solutions Private Limited All rights reserved</p>
                </footer>
            </div>
        </div>
    </body>
</html>
