
@{

    Layout = "~/Views/Shared/_Login.cshtml";

}
@using (Html.BeginForm())
{
        <h1 class="skillz">SKILLZ</h1>
        <h5 class="better">Better Evalution</h5>
        
            <div class="form-group">
                <label for="UserName">User Name:</label>
                <input type="text" class="form-control" placeholder="Enter User Name" name="txtUserName">
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="txtPassword">
            </div>
            <button type="submit" class="btn">Continue</button>
            <a href="#" class="forgetpwd">Forgot Password?</a>
     
  



}
