.container {
    background-color: #FFFFFF;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
}

.skillz {
    text-align: center;
    color: #B70320;
    padding-top: 50px;
}

.better {
    text-align: center;
    color: #858585;
    margin-top: auto;
}

.btn {
    background-color: #B70320;
    color: #F8F8F8;
}

.forgetpwd {
    color: #B70320;
    float: right;
}
.footer {
    top: 724px;
    left: 42px;
    width: 526px;
    height: 27px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c0c0c3);
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #C0C0C3;
    opacity: 1;
}